<ion-view>
	<ion-nav-bar class="bar-assertive">
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-heart"></button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-header-bar class="bar-assertive">
		<div class="title"><center>Latest Posts</center></div>
	</ion-header-bar>

	<div class="bar bar-subheader item-input-inset">
		<label class="item-input-inset">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="Search..." ng-model="searchText"/>
		</label>
	</div>

	<ion-content class="has-subheader">
		<ion-list can-swipe="true">
			<ion-item class="item item-thumbnail-left item-text-wrap item-icon-right" ng-repeat="post in recent_posts">
				<img src="{{post.thumbnail}}"/>
				<!-- Render Post Title-->
 				<h2 ng-bind-html="post.title"></h2>
 				<!-- Menampilkan Intro Post-->
 				<p ng-bind-html="post.excerpt"></p>
				<ion-option-button class="button-dark">
					<i class="icon ion-heart"></i>
				</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>

</ion-view>
